## This file is part of Whonix.
## See the file COPYING for copying conditions.
## Modified for Whonix.

[Unit]
Description=apt-during-apt
After=livesys.service plymouth-quit-wait.service
After=systemd-vconsole-setup.service
Before=display-manager.service getty@tty1.service getty@ttyUSB0.service
Before=serial-getty@ttyS0.service serial-getty@ttyO0.service serial-getty@ttyO2.service
Before=serial-getty@ttyAMA0.service serial-getty@ttymxc0.service serial-getty@ttymxc3.service
Before=sdwdate.service
Before=whonixcheck.service
Before=rads.service
Before=control-port-filter-python.service
Before=tor.service

## Better look and feel.
After=swap-file-creator.service
Before=whonix-initializer.service

ConditionKernelCommandLine=!rd.live.image

[Service]
Type=oneshot
ExecStart=/usr/lib/apt-during-apt/startup
TimeoutSec=0
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
